<!--A LOT OF CODE DELETED AFTER PREVIOUS VERSION-->


{% extends 'music/base.html' %} <!--took base.html and put it here-->
{% block title %}Album Details{% endblock %}

{% block body %}
    <img src="{{ album.album_logo }}">

    <h1>{{ album.album_title }}<h1>
    <h2>{{ album.artist }}</h2>

    {% for song in album.song_set.all %}
        {{ song.song_title }}
        {% if song.is_favorite %}
            <img src="https://a248.e.akamai.net/media.zulily.com/js/raty/img/star-on.png"/>
        {% endif %}
        <br>
    {% endfor %}
{% endblock %}
